/* =================
Add more styles here!
================= */

body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.map {
    position: absolute;
    right: 0px;
    left: 340px;
    height: 100%;
    top: 0;
}

.sidebar {
    position: absolute;
    left: 0px;
    width: 340px;
    top: 0;
    bottom: 0;
    overflow-y: auto;
    padding: 20px;
}

.box{
  background-color: #DCDCDC;
  opacity: 0.8;
  padding: 10px;
}

h1 {
  font-family: Tahoma, Geneva, sans-serif;
  font-size: 1.875em; /* 30px/16=1.875 */
  font-weight: bold;
  color: #3e4444;
}

h2 {
  font-family: Tahoma;
  font-size: 1.25em;
  font-weight: normal;
  color: #3e4444;
}

h3 {
  font-family: Tahoma;
  font-weight: normal;
  font-size: 1.25em;
  color: #4A5B2E;
  line-height: 0.3;
}

h4 {
  font-family: Geneva;
  font-size: 1em;
  color: #82b74b;
  line-height: 0.3;
}

p {
  font-family: Geneva;
  font-size: 0.875em;
  color: #4A5B2E;
}

button {
  background-color: #82b74b;
  color: white;
  border: 2px solid #405d27;
  font-size: 0.875em;
  padding: 4px 20px;
  text-align: center;
  display: inline;
  margin: 4px 2px;
  cursor: pointer;
  float: right;
  font-family: Tahoma;
}

input {
  width: 100%;
  padding: 8px 20px;
  margin: 4px 0;
  box-sizing: border-box;
}

select {
    width: 100%;
    padding: 16px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f1f1f1;
}
